Repository skLee-HGU/LearnTube3, pull requests merged in 2022-09, with the labels that each got.

#3 [#1] fix: playlist default video FE 수정
  frontend/src/components/Widget/ContentWidget.js
Labels: frontend, fix

#4 curriculum, dashboard 수정
  frontend/src/components/Layout/Header/MenuItems.js
  frontend/src/components/Modal/Content/CreateContent.js
  frontend/src/components/Modal/Content/UpdateContent.js
  frontend/src/components/Modal/CreateNotice.js
  frontend/src/components/Modal/DeleteNotice.js
  frontend/src/components/Modal/UpdateNotice.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/dashboard/index.js
Labels: frontend, feat, fix

#13 [#12] fix: menuitem alert 에러 수정
  frontend/src/components/Layout/Header/MenuItems.js
  frontend/src/pages/dashboard/index.js
Labels: frontend, fix

#15 [#14] fix :dashboard 로그인 조건 주석처리
  frontend/src/components/Layout/Header/MenuItems.js
Labels: frontend, fix

#18 [#16] feat: notice 관련 기능구현
  frontend/src/components/Courses/CourseSingleTwoCopy.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/main/CoursesSection.js
Labels: frontend, feat

#19 [#17] fix: playlist update 기능 수정 완료
  backend/src/main/java/com/walab/playlist/application/PlaylistService.java
  backend/src/main/java/com/walab/playlist/application/dto/PlaylistUDto.java
  backend/src/main/java/com/walab/playlist/domain/Playlist.java
  backend/src/main/java/com/walab/playlist/presentation/PlaylistController.java
  backend/src/main/java/com/walab/playlist/presentation/request/PlaylistUpdateRequest.java
Labels: backend, feat, fix

#24 [#23] feat: cources 페이지 New, 생성일자 구현
  frontend/src/components/Courses/CourseSingleTwoCopy.js
  frontend/src/pages/course/CourseSection.js
Labels: frontend, feat, fix

#44 [#42] feat: 썸네일 관련 기능 구현
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  frontend/package-lock.json
  frontend/src/assets/img/logo/img-background.png
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/components/Courses/CourseSingleTwoCopy.js
  frontend/src/components/Layout/Header/MenuItems.js
  frontend/src/components/Modal/Classroom/CreateClassroom.js
  frontend/src/components/Modal/Content/CreateContent.js
  frontend/src/components/Modal/CreateNotice.js
  frontend/src/pages/course/course-single/CourseSidebar.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/yarn.lock
Labels: frontend, feat

#45 [#43] feat: 대시보드 최신순 정렬
  backend/src/main/java/com/walab/classroom/presentation/ClassRoomController.java
Labels: backend, feat

#46 [#41] feat: 강의 비디오 이전강, 다음강 버튼 프론트 구현
  frontend/src/components/Widget/ContentWidget.js
  frontend/src/pages/course/course-single/CourseContent.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: frontend, feat

#49 [#48] feat: 컨텐츠 이전, 이후 버튼 프론트 구현
  frontend/src/components/Widget/ContentWidget.js
Labels: frontend, feat, fix

#53 [#52] feat: 강의실 드롭박스 및 사이드바 수정
  frontend/src/assets/scss/_btn.scss
  frontend/src/components/Dropdown/DropDown.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CourseSidebar.js
Labels: frontend, feat, fix

#61 [#59] feat: 레이아웃, 설정 관련 기능 수정
  frontend/src/assets/css/dropdown.css
  frontend/src/assets/img/icon/settingIcon.png
  frontend/src/components/Dropdown/DropDown.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/yarn.lock
Labels: frontend, feat, fix

#64 [#60] fix, feat:강의 이동버튼, 영화관모드, 연속재생
  frontend/src/components/Widget/ContentWidget.js
  frontend/src/pages/course/course-single/CourseContent.js
Labels: frontend, feat, fix

#67 [#65] feat: 커리큘럼 설정 아이콘 수정, 삭제 연결 및 react-player 추가
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/css/dropdown.css
  frontend/src/components/Dropdown/SetDropdown.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/yarn.lock
Labels: frontend, feat, fix
