Repository skLee-HGU/LearnTube3, pull requests merged in 2022-10, with the labels that each got.

#71 [#70] fix: 플레이리스트 조회, 담기 화면
  frontend/src/assets/scss/_learnTubeStudio.scss
  frontend/src/components/Events/YoutubeBoard.js
  frontend/src/components/Widget/YoutubeVideoListWidget.js
  frontend/src/components/Widget/YoutubeVideoSearchWidget.js
  frontend/src/pages/youtube-search/cart.js
  frontend/src/pages/youtube-search/index.js
Labels: frontend, fix

#79 [#78] fix: 시작시간, 마감시간 설정
  frontend/src/components/Widget/ContentWidget.js
Labels: frontend, fix

#81 [#80] feat: 플레이리스트 전체 시간 R
  backend/src/main/java/com/walab/playlist/application/dto/MyPlaylistDto.java
  backend/src/main/java/com/walab/playlist/domain/Playlist.java
  backend/src/main/java/com/walab/playlist/presentation/response/PlaylistResponse.java
  backend/src/main/java/com/walab/video/application/VideoService.java
Labels: backend, feat

#84 [#83] feat: playlist total duration UD
  backend/src/main/java/com/walab/video/application/VideoService.java
  backend/src/main/java/com/walab/video/application/dto/VideoDeleteDto.java
  backend/src/main/java/com/walab/video/presentation/request/VideoDeleteRequest.java
Labels: backend, feat

#86 [#85] feat: content read에 playlist duration 포함
  backend/src/main/java/com/walab/content/application/dto/ContentDto.java
  backend/src/main/java/com/walab/content/domain/Content.java
  backend/src/main/java/com/walab/content/presentation/response/ContentResponse.java
Labels: backend, feat

#88 [#87] feat: 커리큘럼, 컨텐츠 페이지 totalTime read
  backend/src/main/java/com/walab/content/application/dto/ContentPlaylistDto.java
  frontend/src/components/Widget/ContentWidget.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: frontend, feat

#94 [#93] fix: 플레이리스트 스크롤, start, end time 설정
  frontend/src/assets/scss/_learnTubeStudio.scss
  frontend/src/components/Widget/ContentWidget.js
  frontend/src/pages/course/course-single/CourseContent.js
Labels: frontend, feat, fix

#97 [#96] fix: 동영상 재생중에 이전, 이후 컨텐츠/강 버튼 클릭시 비디오가 바뀌지 않는 문제 해결
  frontend/src/components/Widget/ContentWidget.js
Labels: frontend, fix

#99 Fe/feat/#98
  frontend/src/components/Widget/ContentWidget.js
Labels: frontend, feat

#100 Fe/feat/#98
  frontend/src/components/Widget/ContentWidget.js
Labels: frontend, fix

#102 [#101] feat: myplaylist 기능 구현 및 수 정
  frontend/src/assets/css/dropdown.css
  frontend/src/components/Dropdown/SetPlaylistDropdown.js
  frontend/src/components/Widget/PlaylistWidget.js
  frontend/src/pages/playlist/index.js
Labels: frontend, feat, fix

#105 [#104] fix: 마이플레이리스트 수정
  frontend/src/assets/css/dropdown.css
  frontend/src/assets/img/icon/mediaIcon.png
  frontend/src/components/Dropdown/SetPlaylistDropdown.js
  frontend/src/components/Widget/ContentWidget.js
  frontend/src/components/Widget/PlaylistWidget.js
  frontend/src/pages/playlist/index.js
Labels: frontend, fix

#107 [#106] fix: 섬네일 크기 조정
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/components/Courses/CourseSingleTwoCopy.js
Labels: frontend, fix

#113 [#112] fix: edited myplaylist
  frontend/src/components/Dropdown/SetPlaylistDropdown.js
  frontend/src/components/Widget/PlaylistWidget.js
  frontend/src/pages/course/CourseSection.js
  frontend/src/pages/course/SearchBar/index.js
  frontend/src/pages/dashboard/index.js
  frontend/src/pages/playlist/index.js
Labels: frontend, fix

#114 [#111] refactor: 컨텐츠 리팩토링 및 css 수정
  frontend/src/components/Widget/ContentWidget.js
Labels: frontend, fix, refactor

#116 [#115] feat: 플레이리스트 기능 구현 및 css수정
  frontend/.env.development
  frontend/src/assets/scss/_learnTubeStudio.scss
  frontend/src/components/Events/YoutubeBoard.js
  frontend/src/components/Widget/PlaylistWidget.js
  frontend/src/components/Widget/YoutubeVideoListWidget.js
  frontend/src/pages/youtube-search/cart.js
  frontend/src/pages/youtube-search/index.js
Labels: frontend, feat
